<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsLogMapper">

    <!-- 日志表的xml文件 -->

    <!-- 封装基本字段 -->
   <!-- <sql id="baseColumn">

    </sql>-->

    <!-- 封装字段映射 -->
    <insert id="save">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into cms_log(
        create_time,
        user_id,
        username,
        login_ip,
        url,
        content
        ) values(
        #{createTime},
        #{userId},
        #{username},
        #{loginIp},
        #{url},
        #{content}
        )
    </insert>



</mapper>























