<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsSiteMapper">

    <!-- 配置mapper中cache中的type为ehcache对cache接口的实现类型 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!-- 站点配置的Mapper配置文件 -->

    <!-- 封装结果集 -->
    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsSiteEntity">
        <id property="id" column="id"/>
        <result property="siteName" column="siteName"/>
        <result property="keywords" column="keywords"/>
        <result property="description" column="description"/>
    </resultMap>

    <!-- 封装基础的sql字段 -->
    <sql id="baseColumn">
        id,
        site_name,
        keywords,
        description
    </sql>

    <!-- 封装修改的sql字段 -->
    <sql id="updateField">
        update_time = #{updateTime},
        <if test="siteName!=null and siteName!=''">
            site_name = #{siteName},
        </if>
        <if test="keywords!=null and keywords!=''">
            keywords = #{keywords},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
    </sql>

    <!-- 修改站点配置 -->
    <update id="update">
        update cms_site
        <trim prefix="set" suffixOverrides=",">
            <include refid="updateField"/>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据id查询站点信息 -->
    <select id="selectById" resultMap="baseResultMap">
        select <include refid="baseColumn"/> from cms_site where id = #{id}
    </select>



</mapper>






















